*	{
	line-height:1;
	margin: 0px;
	outline: 0px;
	padding: 0px;
}

html	{
	height: 100%;
	width: 100%;
}

body	{
	font-family: Arial, "HelveticaNeue LT 55 Roman", Helvetica, sans-serif;
	width: 1366px;
	height: 768px;
	font-weight: bold;
	overflow: hidden;
}

body.test {
	overflow: scroll;
}

a {
	text-decoration: none;
	color: #ffffff;
}


.lfloat {
	float: left;
}

.rfloat {
	float: right;
}

#clear,.clear {
	clear: both;
}

.ui-mask {
	position:fixed;
	width: 100%;
	height: 100%;
	background-color: #000000;
	opacity: 0.9;
}

.ui-hcenter-wrapper {
	position:absolute;
	left:50%;
	float:left;
}

.ui-hcenter {
	position:relative;
	margin-left:-50%;
	float:left;
}

.view-wrapper {
}

.fullscreen {
	position: absolute;
	left: 0px;
	width: 1366px;
	height: 768px;
}

.page {
	position: absolute;
	left: 124px;
	width: 1242px;
	height: 768px;
}

.button {
	background-color: #318bc8;
	border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	padding: 5px 10px;
	color: #ffffff;
	text-decoration: none;
}

.button:active, .button.active {
	background-color: #d36112;
}

.close-button {
	background: url(../images/close.png) top left no-repeat;
	position: absolute;
	right: -40px;
	top: -40px;
	width: 72px;
	height: 72px;
	z-index: 10;
	cursor:pointer;
}

.ellipsis {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;	
}

#nightmode-overlay {
	background: #000000;
	pointer-events: none;
	opacity: 0.7;
	z-index: 99;
	display: none;
}

