#careboard {
	background: #1e77ae url('../images/bk_hires_1242x768_200_KAISER-WESTSIDE_careboard1.jpg') no-repeat;
	overflow: hidden;
	color: #000000;
	font-weight: bold;
	margin: 0;
	padding: 0;				
}

#careboard p {
	text-align: left;
	font-size: 23px;
	line-height: 26px;
	margin: 0;
	padding: 2px 0;
}

#careboard div.header {
	font-size: 36px;
	font-weight: bold;
	color: #005300;
	text-align: left;
	margin-bottom: 10px;
}

#careboard div.header2 {
	font-size: 26px;
	font-weight: bold;
	color: #005300;
}

#careboard div.header2 span {
	color: #276394;
}


#careboard div.header span{
	font-size: 22px;
	font-weight: bold;
	color: #276394;
	text-align: left;
	margin-left: 10px;
}

#careboard #basicinfo {
	position: absolute;
	left: 80px;
	top: 18px;
	width: 1064px;
	height: 85px;
	padding: 15px 15px;
	text-align: center;
}

#careboard #basicinfo #name {
	position: absolute;
	font-size: 42px;
	line-height: 80px;
	float: left;
    text-align: center;
	width: 950px;
}

#careboard #basicinfo #today {
	float: right;
	width: 260px;
	color: #005300;
	font-size: 26px;
	text-align: right;
}

#careboard #basicinfo p#time {
	text-align: right;
}

#careboard #careteam {
	position: absolute;
	left: 23px;
	top: 143px;
	width: 580px;
	height: 385px;
	padding: 10px 0 0 10px;
}

#careboard #goals {
	position: absolute;
	left: 620px;
	top: 143px;
	width: 580px;
	height: 285px;
	padding: 10px 0 0 10px;
}

#careboard #dischargedate {
	position: absolute;
	left: 608px;
	top: 300px;
	width: 450px;
	height: 30px;
	padding: 5px 23px;
}


#careboard #drawing {
	position: absolute;
	left: 49px;
	top: 556px;
	width: 612px;
	height: 231px;
	padding: 0;
}

#careboard #diet {
	position: absolute;
	left: 80px;
	top: 575px;
	width: 1064px;
	height: 104px;
	padding: 5px 15px;
	float: left;
	font-size: 20px;
	text-align: center;
}

#careboard #diet div.header {
    text-align: center;
}

#careboard #diet p {
    display: inline;
}

#careboard #activity {
	position: absolute;
	left: 620px;
	top: 358px;
	width: 530px;
	height: 104px;
	padding: 5px 15px;
	float: left;
	font-size: 20px;
	
}

#careboard #activity div.header {
    text-align: left;
}

#careboard #activity p {
    display: inline;
}

#careboard #buttons {
	position: absolute;
	left: 80px;
	top: 690px;
	width: 1094px;
	height: 60px;
	padding: 10px 0;
	text-align: left;
}

#careboard #buttons a {
    font-size: 24px;
    text-align: center;
    display: block;
    width: 140px;
    float: left;
    margin: 0 10px;
    padding: 10px 15px;
    background-color: #67b32c;
    box-shadow: 2px 2px 5px #000000
}

#careboard #buttons a.active, #careboard #buttons a:active {
	background-color: #D36112;
}
