#dinediet {
	background: url(../images/bk_hires_1242x768_200_dine1.jpg) top center no-repeat;
	font-size: 28px;
	font-weight: bold;
	color: #ffffff;
}

#dinediet #banner	{
    position: absolute;
    width: 100%;
    height: 220px;
}

#dinediet #banner #title {
    font-size: 40px;
    position: relative;
    margin-top: 70px;
    margin-bottom: 5px;
}

#dinediet #banner p	{
	font-size: 28px;
	line-height: 40px;
	color: #ffffff;	
	position: relative;
	text-align: center;
}

#dinediet #banner p span	{
	font-size: 30px;
	color: #ffff66;
}
#dinediet #banner p span.2	{
	color: #d36112;
}

#dinediet #selection	{
    position: absolute;
    height: 548px;
    width: 100%;
    top: 220px;
    text-align: center;
}

#dinediet #selection p span {
	color: #ffff66;
}

#dinediet #selection .label	{
    margin-top: 25px;
}

#dinediet #selection p	{
	font-size: 28px;
	line-height: 40px;
	text-align: left;
	color: #ffffff;
	margin-left: 110px;
}


#dinediet #selection .message	{
    margin-top: 25px;
	font-size: 28px;
	text-align: left;
}

#dinediet #selection #buttons {
	position: absolute;
    top: 450px;
	left: 213px;
}

#dinediet #buttons a	{
	width: 300px;
	height: 35px;
	font-size: 26px;
	line-height: 35px;		
	float: left;
	text-align: center;
	position: relative;
	margin: 0 44px;
	color: #ffffff;
}

