#eleafmail {
	background: #1e77ae url(../images/bk_hires_1242x768_200_kais-nw_secondlevel1.jpg) top left no-repeat;
}

#eleafmail #banner	{
	width: 1280px;
	height: 100px;
	margin: 65px 0px 0px 0px;
	position: absolute;
}

#eleafmail #banner p	{
	width: 1280px;
	height: 50px;
	font-size: 28px;
	line-height: 50px;
	margin: 0px 35px 0px 0px;
	color: rgba(255,255,255,1.00);
	float: right;
	position: relative;
	text-align: right;
}

#eleafmail #banner p span	{
	font-size: 32px;
	color: rgba(254,242,0,1.00);
}

#eleafmail #breadcrumb {
	width: 340px;
	height: 60px;
	margin: 140px 0px 0px 21px;
	position: absolute;
}

#eleafmail #breadcrumb p {
	width: 100%;
	height: 60px;
	font-size: 30px;
	line-height: 60px;
	color: #ffffff;
	text-align: center;
}

#eleafmail #label	{
	width: 340px;
	height: 60px;
	margin: 201px 0px 0px 21px;
	float: left;
	position: absolute;
}

#eleafmail #label p	{
	width: 100%;
	height: 60px;
	font-size: 30px;
	line-height: 60px;
	margin: 0px 0px 0px 0px;
	color: rgba(255,255,255,1.00);
	float: left;
	position: relative;
	text-align: center;
}

#eleafmail #label img	{
	margin: 10px 0px 0px 0px;
	float: right;
}


#eleafmail #instructions	{
	width: 525px;
	height: 77px;
	margin: 427px 0px 0px 40px;
	float: left;
	position: absolute;
}

#eleafmail #instructions p	{
	width: 420px;
	height: 77px;
	font-size: 30px;
	line-height: 36px;
	margin: 0px 0px 0px 35px;
	color: rgba(255,255,255,1.00);
	float: left;
	position: relative;
	text-align: left;
}

#eleafmail #selections	{
	width: 330px;
	height: 450px;
	margin: 270px 0px 0px 26px;
	float: left;
	position: absolute;
}

#eleafmail #selections ul {
	list-style-type: none;
}

#eleafmail #selections a	{
	width: 315px;
	height: 42px;
	font-size: 30px;
	line-height: 42px;
	padding-left: 15px;
	margin: 5px 0;
	float: left;
	text-align: left;
	position: relative;
	color: rgba(255,255,255,1.00);
	background-color: #318bc8;
	border-radius: 8px;   -moz-border-radius: 8px;   -webkit-border-radius: 8px;
}

#eleafmail #selections a.active, #eleafmail #selections a:active{
    background-color: #d36112;
}

#eleafmail #selections a.back {
	font-size: 28px;
	padding: 0;
	margin: 0;
	width: 200px;
	text-align: center;
	position: absolute;
	bottom: 5px;
	left: 65px;
}

#eleafmail #background	{
	background-position: 50% 0%; 
	background-repeat: no-repeat;
	width: 0;
	height: 0;
	margin: 205px 0px 0px 587px;
	float: left;
	opacity: 1.00;
	position: absolute;
}


#eleafmail #background.textoverlay {
	opacity: 0.1; 
}

#eleafmail #selection	{
	width: 870px;
	height: 515px;
	margin: 202px 0px 0px 365px;
	float: left;
	display: inline-block;
	position: absolute;
}

#eleafmail #selection #heading	{
	width: 625px;
	color: rgba(249,238,132,1.00);
	font-size: 30px;
	line-height: 36px;
	margin: 25px 0px 0px 25px;
	float: left;
	text-align: left;
}

#eleafmail #selection #body	{
	width: 100%;
	height: 100%;
	color: rgba(255,255,255,1.00);
}

#eleafmail #selection #body img.image3 {
margin: 50px 0px 0px 445px;
position: absolute;
}

#eleafmail #selection #body #nextpage	{
	background-color: #ffffff;
	opacity: 0;
	position: absolute;
	z-index: 10;
	left: 90%;
	width: 10%;
	height: 100%;
	display: inherit;
	cursor: pointer;
	float: right;
}

#eleafmail #selection #body #prevpage	{
	background-color: #ffffff;
	opacity: 0;
	position: absolute;
	z-index: 10;
	left: 0;
	width: 10%;
	height: 100%;
	display: inherit;
	cursor: pointer;
	float: right;
}

#eleafmail #selection #body #nextpage:hover, #eleafmail #selection #body #prevpage:hover {
	cursor: pointer;
	opacity: 0.3;
	color: blue;
}

#eleafmail #selection #body p	{
	width: 825px;
	min-height: 42px;
	font-size: 28px;
	line-height: 36px;
	float: left;
	text-align: left;
	margin: 50px 25px 0px 25px;
	color: rgba(255,255,255,1.00);
	display: none;
}

#eleafmail #selection #body p.active	{
	display: inherit;
}

	
#eleafmail #selection #body p span	{
	color: rgba(255,255,102,1.00);
}

#eleafmail #selection #body .button {
	background-color: #318bc8;
	border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	padding: 5px 75px;
	color: #ffffff;
	text-decoration: none;
}


#eleafmail #selection #body ul	{
	width: 625px;
	float: left;
	margin: 0px 25px 0px 50px;
}

#eleafmail #selection #body ul li	{
	margin-left: 25px;
	font-size: 30px;
	line-height: 42px;
	text-align: left;
	color: rgba(255,255,255,1.00);
}

#eleafmail #selection #body ul li span	{
	color: rgba(249,238,132,1.00);
}

#eleafmail #selection #body p.clickable	{
	background: rgba(49,139,200,1.00);
	width: 300px;
	min-height: 36px;
	padding: 10px;
	font-size: 30px;
	line-height: 36px;
	text-align: center;
	margin: 0px 0px 15px 25px;
	color: rgba(255,255,255,1.00);
}


#eleafmail #selection #body #popup {
	background: url(../images/eleafmail_bk.png) top left no-repeat;
	top: 175px;
	left: 0;
	width: 677px;
	height: 367px;
}

#eleafmail #selection #body #close {
	position: absolute;
	top: 24px;
	right: 35px;
	width: 176px;
	height: 26px;
	text-align: center;
}

#eleafmail #selection #body #content {
    margin-top: 54px;
}

#eleafmail #selection #body #content #inbox {
    float: left;
    width: 284px;
    height: 272px;
    margin: 16px 0 0 35px;
}

#eleafmail #selection #body #content #inbox a {
    display: block;
    width: 100%;
    height: 30px;
    white-space: nowrap;
}

#eleafmail #selection #body #content #inbox a.active {
	background: url(../images/eleafmail_chaser.png) top right no-repeat;
	color: #ff8000;
}

#eleafmail #selection #body #content #inbox a span.date{
    display: block;
    float: left;
    width: 110px;
    height: 30px;  
    line-height: 30px;
}

#eleafmail #selection #body #content #inbox a span.subject{
    display: block;
    float: left;
    width: 156px;
    height: 30px;
    line-height: 30px;
}

#eleafmail #selection #body #content #body {
    float: left;
    width: 287px;  
    height: 250px;  
    margin: 24px 0 0 25px;
}

#eleafmail #selection #body #content #body p {
    font-size: 30px;  
    line-height: 40px;
    color: #FFF;
	
}

