#feedback {
	background: #1e77ae url(../images/bk_hires_1242x768_200_kais-nw_secondlevel1.jpg) top left no-repeat;
}

#feedback #banner	{
	width: 1280px;
	height: 100px;
	margin: 65px 0px 0px 0px;
	position: absolute;
}

#feedback #banner p	{
	width: 1280px;
	height: 50px;
	font-size: 28px;
	line-height: 50px;
	margin: 0px 35px 0px 0px;
	color: rgba(255,255,255,1.00);
	float: right;
	position: relative;
	text-align: right;
}

#feedback #banner p span	{
	font-size: 32px;
	color: rgba(254,242,0,1.00);
}

#feedback #breadcrumb {
	width: 340px;
	height: 60px;
	margin: 140px 0px 0px 21px;
	position: absolute;
}

#feedback #breadcrumb p {
	width: 100%;
	height: 60px;
	font-size: 30px;
	line-height: 60px;
	color: #ffffff;
	text-align: center;
}

#feedback #label	{
	width: 340px;
	height: 60px;
	margin: 201px 0px 0px 21px;
	float: left;
	position: absolute;
}

#feedback #label p	{
	width: 100%;
	height: 60px;
	font-size: 30px;
	line-height: 60px;
	margin: 0px 0px 0px 0px;
	color: rgba(255,255,255,1.00);
	float: left;
	position: relative;
	text-align: center;
}

#feedback #label img	{
	margin: 10px 0px 0px 0px;
	float: right;
}


#feedback #instructions	{
	width: 525px;
	height: 77px;
	margin: 427px 0px 0px 40px;
	float: left;
	position: absolute;
}

#feedback #instructions p	{
	width: 420px;
	height: 77px;
	font-size: 30px;
	line-height: 36px;
	margin: 0px 0px 0px 35px;
	color: rgba(255,255,255,1.00);
	float: left;
	position: relative;
	text-align: left;
}

#feedback #selections	{
	width: 330px;
	height: 450px;
	margin: 270px 0px 0px 26px;
	float: left;
	position: absolute;
}

#feedback #selections ul {
	list-style-type: none;
}

#feedback #selections a	{
	width: 315px;
	height: 42px;
	font-size: 30px;
	line-height: 42px;
	padding-left: 15px;
	margin: 5px 0;
	float: left;
	text-align: left;
	position: relative;
	color: rgba(255,255,255,1.00);
	background-color: #318bc8;
	border-radius: 8px;   -moz-border-radius: 8px;   -webkit-border-radius: 8px;
}

#feedback #selections a.active, #feedback #selections a:active{
    background-color: #d36112;
}

#feedback #selections a.back {
	font-size: 28px;
	padding: 0;
	margin: 0;
	width: 200px;
	text-align: center;
	position: absolute;
	bottom: 5px;
	left: 65px;
}

#feedback #background	{
	background-position: 50% 0%; 
	background-repeat: no-repeat;
	width: 0;
	height: 0;
	margin: 205px 0px 0px 587px;
	float: left;
	opacity: 1.00;
	position: absolute;
}


#feedback #background.textoverlay {
	opacity: 0.1; 
}

#feedback #selection	{
	width: 870px;
	height: 515px;
	margin: 202px 0px 0px 365px;
	float: left;
	display: inline-block;
	position: absolute;
}

#feedback #selection #heading	{
	width: 625px;
	color: rgba(249,238,132,1.00);
	font-size: 30px;
	line-height: 36px;
	margin: 25px 0px 0px 25px;
	float: left;
	text-align: left;
}

#feedback #selection #body	{
	width: 100%;
	height: 100%;
	color: rgba(255,255,255,1.00);
}

#feedback #selection #body img.image3 {
margin: 50px 0px 0px 445px;
position: absolute;
}

#feedback #selection #body #nextpage	{
	background-color: #ffffff;
	opacity: 0;
	position: absolute;
	z-index: 10;
	left: 90%;
	width: 10%;
	height: 100%;
	display: inherit;
	cursor: pointer;
	float: right;
}

#feedback #selection #body #prevpage	{
	background-color: #ffffff;
	opacity: 0;
	position: absolute;
	z-index: 10;
	left: 0;
	width: 10%;
	height: 100%;
	display: inherit;
	cursor: pointer;
	float: right;
}

#feedback #selection #body #nextpage:hover, #feedback #selection #body #prevpage:hover {
	cursor: pointer;
	opacity: 0.3;
	color: blue;
}

#feedback #selection #body p	{
	width: 825px;
	min-height: 42px;
	font-size: 28px;
	line-height: 36px;
	float: left;
	text-align: left;
	margin: 50px 25px 0px 25px;
	color: rgba(255,255,255,1.00);
	display: none;
}

#feedback #selection #body p.active	{
	display: inherit;
}

	
#feedback #selection #body p span	{
	color: rgba(255,255,102,1.00);
}

#feedback #selection #body .button {
	background-color: #318bc8;
	border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	padding: 5px 75px;
	color: #ffffff;
	text-decoration: none;
}


#feedback #selection #body ul	{
	width: 625px;
	float: left;
	margin: 0px 25px 0px 50px;
}

#feedback #selection #body ul li	{
	margin-left: 25px;
	font-size: 30px;
	line-height: 42px;
	text-align: left;
	color: rgba(255,255,255,1.00);
}

#feedback #selection #body ul li span	{
	color: rgba(249,238,132,1.00);
}

#feedback #selection #body p.clickable	{
	background: rgba(49,139,200,1.00);
	width: 300px;
	min-height: 36px;
	padding: 10px;
	font-size: 30px;
	line-height: 36px;
	text-align: center;
	margin: 0px 0px 15px 25px;
	color: rgba(255,255,255,1.00);
}

#feedback #selection #body p.middle	{
	margin-top: 200px;
}

#feedback #selection #body p.narrow	{
	width: 500px;
	margin-right: 0px;
}

#feedback #selection #body p.wide	{
	width: 800px;
	margin-right: 0px;
}

#feedback #selection #body p.small	{
	font-size: 28px;
	line-height: 32px;
}

#feedback #selection #body p.smaller	{
	font-size: 24px;
	line-height: 28px;
}

#feedback #selection #body p.larger	{
	font-size: 42px;
	line-height: 48px;
}

#feedback #selection #body p.nomargin	{
	margin-top: 0px;
}

#feedback #selection #body ul.topmargin,
#feedback #selection #body p.topmargin	{
	margin-top: 40px;
}

#feedback #selection #body p.lower	{
	margin-top: 100px;
}

#feedback #selection #body p.botmargin	{
	margin-bottom: 25px;
}

#feedback #selection #body p.leftmargin	{
	margin-left: 50px;
}

#feedback #selection #body p.highlight,
#feedback #selection #body p span.highlight	{
	color: rgba(255,255,102,1.00);
}

#feedback #selection #body p.lightcolor,
#feedback #selection #body p span.lightcolor	{
	color: rgba(194,214,181,1.00);
}

#feedback #selection #body p.nocolor,
#feedback #selection #body p span.nocolor	{
	color: rgba(255,255,255,1.00);
}

#feedback #selection #body p.italic,
#feedback #selection #body p span.italic	{
	font-style: italic;
}

