/* intro2 panel */

#intro2 {
    background: #1e78af url(../images/bk_hires_intro.jpg) top left no-repeat;
    font-size: 28px;
    font-weight: bold;
    color: #ffffff;
}

#intro2 .button {
    background-color: #193c50;
}

#intro2 #header {
    margin: 75px 0 0 100px;
    text-align: center;
}

#intro2 #header span {
    color: rgba(233, 225, 68, 1.00);

}

#intro2 #header h1 {
    font-size: 46px;

    margin-top: 5px;
}

#intro2 #header h2 {
    font-size: 38px;

}

#intro2 #content {
    margin: 70px 0 0 0;
}

#intro2 #content #agreement {
    width: 100%;
    height: 100%;
}

#intro2 #content #internetterms {
    background-color: #FFFFFF;
    color: #444;
    font-size: 16px;
    font-weight: normal;
    line-height: 16px;
    font-family: "Times New Roman", Georgia, serif;
    white-space: pre-line;
    overflow-y: scroll;
    width: 1236px;
    height: 511px;
    margin: 20px 50px;
    padding: 15px;
}

#intro2 #content #selection {
    float: left;
    width: 1000px;
    height: 100%;
    text-align: center;
    margin-left: 120px;
}

#intro2 #content #selection a {
    font-size: 36px;
    padding: 8px 0;
    margin: 20px 30px 0 0;
    text-align: center;
    width: 334px;
    display: block;
    float: left;
}

#intro2 #content ::-webkit-scrollbar {
    width: 46px;
    height: 46px;
}

#intro2 #content ::-webkit-scrollbar-track {
    background: #dddddd;
}

#intro2 #content ::-webkit-scrollbar-thumb {
    background: #888888;
}

#intro2 #content ::-webkit-scrollbar-button {
    width: 46px;
    height: 46px;
}

#intro2 #content ::-webkit-scrollbar-button:vertical:decrement {
    background: url(../images/button_up.png) center center no-repeat;
}

#intro2 #content ::-webkit-scrollbar-button:vertical:decrement:active {
    background: url(../images/button_up_click.png) center center no-repeat;
}

#intro2 #content ::-webkit-scrollbar-button:vertical:increment {
    background: url(../images/button_down.png) center center no-repeat;
}

#intro2 #content ::-webkit-scrollbar-button:vertical:increment:active {
    background: url(../images/button_down_click.png) center center no-repeat;
}

#intro2 #content ::-webkit-scrollbar-button:horizontal:decrement {
    background: url(../images/button_left.png) center center no-repeat;
}

#intro2 #content ::-webkit-scrollbar-button:horizontal:decrement:active {
    background: url(../images/button_left_click.png) center center no-repeat;
}

#intro2 #content ::-webkit-scrollbar-button:horizontal:increment {
    background: url(../images/button_right.png) center center no-repeat;
}

#intro2 #content ::-webkit-scrollbar-button:horizontal:increment:active {
    background: url(../images/button_right_click.png) center center no-repeat;
}