#movies {
	background: #1e77ae url(../images/bk_hires_1242x768_200_kais-nw_movies.jpg) top center no-repeat;
}

#movies #banner	{
	width: 500px;
	height: 118px;
	top: 62px;
	left: 675px;
	padding: 30px 15px;
	position: absolute;
}

#movies #banner p	{
	font-size: 24px;
	line-height: 30px;
	margin: 0px 35px 0px 0px;
	color: #122943;
	float: left;
	position: relative;
	text-align: left;
}

#movies #banner p span	{
	font-size: 32px;
	color: rgba(254,242,0,1.00);
}

#movies #breadcrumb {
	width: 330px;
	height: 60px;
	margin: 140px 0px 0px 26px;
	position: absolute;
}

#movies #breadcrumb p {
	width: 100%;
	height: 60px;
	font-size: 30px;
	line-height: 60px;
	color: #ffffff;
	text-align: center;
}

#movies #label	{
	width: 330px;
	height: 60px;
	margin: 201px 0px 0px 26px;
	float: left;
	position: absolute;
}

#movies #label p	{
	width: 100%;
	height: 60px;
	font-size: 30px;
	line-height: 60px;
	margin: 0px 0px 0px 0px;
	color: rgba(255,255,255,1.00);
	float: left;
	position: relative;
	text-align: center;
}

#movies #label img	{
	margin: 10px 0px 0px 0px;
	float: right;
}


#movies #selections	{
	width: 330px;
	height: 322px;
	margin: 280px 0px 0px 26px;
	float: left;
	position: absolute;
	overflow: hidden;
}

#movies #selections ul {
	list-style-type: none;
}

#movies #selections a	{
	width: 285px;
	height: 42px;
	font-size: 30px;
	line-height: 42px;
	padding-left: 45px;
	margin: 5px 0;
	float: left;
	text-align: left;
	position: relative;
	color: rgba(255,255,255,1.00);
	border-radius: 8px;   -moz-border-radius: 8px;   -webkit-border-radius: 8px;
}

#movies #selections a.back	{
	font-size: 28px;
	padding: 0;
	margin: 0;
	width: 200px;
	text-align: center;
	position: absolute;
	bottom: 5px;
	left: 65px;
	background-color: #318bc8;
}

#movies #selections a.active, #movies #selections a:active, #movies #selections a.selected {
	background-color: #d36112;
}

#movies #selections .padding {
	width: 570px;
	height: 42px;
	font-size: 30px;
	line-height: 42px;
	margin: 5px 0;
	float: left;
	display: block;
	position: relative;
}

#movies #buttons {
	width: 330px;
	height: 105px;
	margin: 615px 0px 0px 26px;
	position: absolute;
}

#movies #buttons a {
	height: 42px;
	font-size: 30px;
	line-height: 42px;
	margin: 0 10px;
	text-align: center;
	position: relative;
	color: rgba(255,255,255,1.00);
	background-color: #318bc8;
	border-radius: 8px;   -moz-border-radius: 8px;   -webkit-border-radius: 8px;
}

#movies #buttons a.active, #movies #buttons a:active {
	background-color: #d36112;
}

#movies #buttons a#prev {
    width: 142px;
    float: left;
}
#movies #buttons a#next {
    width: 142px;
    float: right;
}

#movies #buttons a.back	{
	font-size: 28px;
	padding: 0;
	margin: 0;
	width: 240px;
	text-align: center;
	position: absolute;
	bottom: 5px;
	left: 45px;
	background-color: #318bc8;
}



#movies #background	{
	background-position: 50% 0%; 
	background-repeat: no-repeat;
	width: 693px;
	height: 515px;
	margin: 205px 0px 0px 587px;
	float: left;
	opacity: 1.00;
	position: absolute;
}

#movies.about #background	{
	background-image: url(../images/img_learn_aboutus.jpg); 
}

#movies #background.textoverlay {
	opacity: 0.1; 
}

#movies #selection	{
	width: 870px;
	height: 515px;
	margin: 202px 0px 0px 365px;
	float: left;
	display: inline-block;
	position: absolute;
	display: none;
}

#movies #selection #title {
	width: 608px;
	height: 100px;
	position: absolute;
	margin: 376px 100px 0 130px;
	font-size: 36px;
	line-height: 50px;
	font-weight: bold;
	color: #ffffff;
	text-shadow: 1px 2px 5px #000;
	text-align: center;
}

#movies #selection #subselections	{
	width: 836px;
	height: 415px;
	margin: 40px 0 0 15px;
	color: rgba(255,255,255,1.00);
	float: left;
	overflow: hidden;
	white-space: nowrap;
}

#movies #selection #subselections a	{
	background: url(../images/bk_poster.jpg) center center no-repeat;
	background-size: 128px 193px;   
}

#movies #selection #subselections a.active	{
	background-size: 194px 293px;
	width: 192px;
    height: 291px;
    
    
	border: 5px solid #d36112;
}

#movies #selection #subselections a img {
    width: 126px;
    height: 191px;
    margin: 0;
    position: relative;
    float: left;
    overflow: hidden;
}

#movies #selection #subselections a.active img {
    width: 192px;
    height: 291px;
}

#movies #selection #subselections a .playbutton {
	display: none;
}

#movies #selection #subselections a.active .playbutton {
	background: url(../images/play.png) center center no-repeat;
	width: 192px;
	height: 291px;
	left: 0px;
	top: 0px;
	position: absolute;
    display: block;
}

#movies #selection #subselections .padding {
	width: 126px;
    height: 191px;
    font-size: 30px;
    line-height: 42px;
    
	vertical-align: middle;
	padding: 1px;    
	margin: 0 12px;
    display: inline-block;
    text-align: left;
    position: relative;
    color: rgba(255, 255, 255, 1.00);
    overflow: hidden;
}

#movies #selection #subbuttons {
	width: 808px;
	height: 34px;
	margin: 380px 0px 0px 30px;
	position: absolute;
}

#movies #selection #subbuttons a {
	height: 42px;
	font-size: 30px;
	line-height: 42px;
	margin: 0 10px;
	text-align: center;
	position: relative;
	color: rgba(255,255,255,1.00);
	background-color: #318bc8;
	border-radius: 8px;   -moz-border-radius: 8px;   -webkit-border-radius: 8px;
}

#movies #selection #subbuttons a.active, #movies #selection #subbuttons a:active	{
	background-color: #d36112;
}

#movies #selection #subbuttons a {
    width: 43px;
	height: 52px;
	padding: 5px 0;
	display: block;
}

#movies #selection #subbuttons a#subprev{
	float:left;
	background: url(../images/button_left.png) center center no-repeat;
}

#movies #selection #subbuttons a#subprev:active{
	background: url(../images/button_left_click.png) center center no-repeat;
}

#movies #selection #subbuttons a#subnext{
	float:right;
	background: url(../images/button_right.png) center center no-repeat;
}

#movies #selection #subbuttons a#subnext:active{
	background: url(../images/button_right_click.png) center center no-repeat;
}

