#mynotes {
	background: #1e77ae url('../images/bk_hires_1242x768_200_KAISER-WESTSIDE_careboard-notes.jpg') center top no-repeat;
	overflow: hidden;
	font-size: 28px;
	color: #ffffff;
	font-weight: bold;
	margin: 0;
	padding: 0;				
}

#mynotes #header {
    position: absolute;
	
    top: 75px;
    left: 186px;
    width: 870px;
    text-align: center;
}

#mynotes #header p {
    font-size: 26px;
	
    line-height: 36px;
}

#mynotes #content {
	position: absolute;
	top: 152px;
	left: 95px;
	width: 1048px;
	height: 467px;
	text-align: left;
	font-size: 36px;
	line-height: 36px;
	margin: 0;
	padding: 2px 0;
	color: #000000;
}

#mynotes #content #hints {
    position: absolute;
    top: 407px;
    left: 25px;
    width: 990px;
    height: 55px;
}

#mynotes #content #hints p {
	font-size: 24px;
	line-height: 24px;
    text-align: left;
	color: #23648e;
}

#mynotes #buttons {
	font-size: 28px;
	font-weight: bold;
	text-align: left;
	bottom: 80px;
	left: 100px;
	position: absolute;
}

#mynotes #buttons a {
    background-color: #318bc8;
    width: 200px;
    display: block;
    float: left;
    text-align: center;
    margin-right: 100px;
}

#mynotes #content textarea {
    margin-top: 39px;
	margin-left: 4px;
    width: 1003px;
    height: 357px;
    border: none;
    background: #83F8CE url(../images/notes_bg.png);
    background-attachment: local;
    font-family: Arial, sans-serif;
    font-size: 34px;
    font-weight: normal;
    line-height: 36px;
    padding: 0 20px;
    resize: none;
}

#mynotes #content textarea::-webkit-scrollbar {
    width: 46px;
    height: 46px;
}

#mynotes #content textarea::-webkit-scrollbar-track {
    background: transparent;
}

#mynotes #content textarea::-webkit-scrollbar-thumb {
    background: rgba(0,0,0,0.5);
    border-radius: 8px;
}

#mynotes #content textarea::-webkit-scrollbar-button{
	height: 0;
}

