#phone {

}

#phone-close {
	position: absolute;
	left: 925px;
	top: 55px;
}

#phone #phone-content {
	margin-top: 120px;
	background-color: rgb(5, 16, 29);
	padding: 0;
	border-radius:8px;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
}

#phone #phone-warning {
	position:absolute;
	width:100%;
	height:100%;
	margin:0;
	z-index:1;
	text-align:center;
	background-color:#000000;
	opacity:0.9;
}

#phone #phone-warning p{
	font-size:32px;
	margin:160px auto;
}

#phone #phone-header {
	float: left;
	width: 350px;
	height: 360px;
	padding: 5px;
}

#phone #phone-content #phone-header #number {
	text-align: center;
	font-size: 36px;
	height: 80px;
	line-height: 80px;
	padding: 0 10px;
	margin: 10px 0 0 5px;
	color: #ffffff;	
	background-color:#113663;
	overflow: hidden;
}

#phone #phone-content #phone-header #status {
	text-align: center;
	margin-top: 10px;
	font-size: 24px;
}

#phone #phone-content #phone-header #icon {
	background: url('../images/phone_ok.png') no-repeat center;
	height: 130px;
	margin-top: 10px;
}

#phone #phone-content a	{
	background: rgba(200,200,200,1.00);
	width: 80px;
	height: 80px;
	margin: 5px;
	float: left;
	font-size: 40px;
	line-height: 80px;
	font-weight: 900;
	color: rgba(0,0,0,1.00);	
	text-align: center;
	cursor: pointer;
	position: relative;
	border-radius:8px;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
}

#phone #phone-content #dialpad {
	position: absolute;
	top: 270px;
}

#phone #phone-content #dialpad a#dial	{
	width: 250px;
	background-color: #669900;
	color: #ffffff;
}

#phone #phone-content #dialpad a#end	{
	width: 340px;
	background-color: #6d1515;
	color: #ffffff;
	display: none;
}

#phone #phone-content #dialpad a#del  {
	font-size: 20px;
}

#phone #phone-content #answerpad {
	position: absolute;
	top: 270px;
	display: none;
}

#phone #phone-content #answerpad a#reject	{
	width: 165px;
	background-color: #6d1515;
	color: #ffffff;
	font-size: 30px;
}

#phone #phone-content #answerpad a#answer	{
	width: 165px;
	background-color: #669900;
	color: #ffffff;
	font-size: 30px;
}



#phone #phone-content a:active	{
	background: rgba(211,97,18,1.00);
}

#phone #phone-content #keypad {
	width: 270px;
	height: 360px;
	margin: 0px 0px 0px 10px;
	position: relative;
	float: left;
}
