#secondary {
	background: #1e77ae url(../images/bk_hires_1242x768_200_kais-nw_secondlevel1.jpg) top left no-repeat;
}

#secondary.webeducation
,#secondary.hospitaldirectory
,#secondary.campusmap
,#secondary.shopping
,#secondary.events
{
	background: url(../images/bk_hires_1242x768_200_kais-nw_secondlevel2-long.jpg) top center no-repeat;
}

#secondary.ethicsconsultation
,#secondary.billquestions
,#secondary.memberservices 
{
	background: url(../images/bk_hires_1242x768_200_kais-nw_secondlevel3-long.jpg) top center no-repeat;
}

#secondary.mycomfort 
{
	background: url(../images/bk_hires_1242x768_200_kais-nw_secondlevel4-long.jpg) top center no-repeat;
}

#secondary.restaurants 
{
	background: url(../images/bk_hires_1242x768_200_kais-nw_secondlevel5-long.jpg) top center no-repeat;
}

#secondary.spiritualsupport
,#secondary.communitysupport
,#secondary.feedback
,#secondary.guidedimagery
{
	background: url(../images/bk_hires_1242x768_200_dine_spiritualsupport.jpg) top center no-repeat;
}

#secondary.healthcoach
{
	background: url(../images/bk_hires_1242x768_200_kais-nw_healthcoach.jpg) top center no-repeat;
}

#secondary #banner	{
	width: 1280px;
	height: 100px;
	margin: 65px 0px 0px 0px;
	position: absolute;
}

#secondary #banner p	{
	width: 1280px;
	height: 50px;
	font-size: 28px;
	line-height: 50px;
	margin: 0px 35px 0px 0px;
	color: rgba(255,255,255,1.00);
	float: right;
	position: relative;
	text-align: right;
}

#secondary #banner p span	{
	font-size: 32px;
	color: rgba(254,242,0,1.00);
}

#secondary #breadcrumb {
	width: 340px;
	height: 60px;
	margin: 140px 0px 0px 21px;
	position: absolute;
}

#secondary #breadcrumb p {
	width: 100%;
	height: 60px;
	font-size: 30px;
	line-height: 60px;
	color: #ffffff;
	text-align: center;
}

#secondary #label	{
	width: 340px;
	height: 60px;
	margin: 201px 0px 0px 21px;
	float: left;
	position: absolute;
}

#secondary #label p	{
	width: 100%;
	height: 60px;
	font-size: 30px;
	line-height: 60px;
	margin: 0px 0px 0px 0px;
	color: rgba(255,255,255,1.00);
	float: left;
	position: relative;
	text-align: center;
}

#secondary #label img	{
	margin: 10px 0px 0px 0px;
	float: right;
}


#secondary #instructions	{
	width: 525px;
	height: 77px;
	margin: 427px 0px 0px 40px;
	float: left;
	position: absolute;
}

#secondary #instructions p	{
	width: 420px;
	height: 77px;
	font-size: 30px;
	line-height: 36px;
	margin: 0px 0px 0px 35px;
	color: rgba(255,255,255,1.00);
	float: left;
	position: relative;
	text-align: left;
}

#secondary #selections	{
	width: 330px;
	height: 450px;
	margin: 270px 0px 0px 26px;
	float: left;
	position: absolute;
}

#secondary #selections ul {
	list-style-type: none;
}

#secondary #selections a	{
	width: 315px;
	height: 42px;
	font-size: 30px;
	line-height: 42px;
	padding-left: 15px;
	margin: 5px 0;
	float: left;
	text-align: left;
	position: relative;
	color: rgba(255,255,255,1.00);
	background-color: #318bc8;
	border-radius: 8px;   -moz-border-radius: 8px;   -webkit-border-radius: 8px;
}

#secondary #selections a.active, #secondary #selections a:active{
    background-color: #d36112;
}

#secondary #selections a.back {
	font-size: 28px;
	padding: 0;
	margin: 0;
	width: 200px;
	text-align: center;
	position: absolute;
	bottom: 5px;
	left: 65px;
}

#secondary.aboutus #selections a.active, #secondary.aboutus #selections a:hover	{
	background: rgba(141,198,60,1.00);
}

#secondary.careteam #selections a.active, #secondary.careteam #selections a:hover	{
	background: rgba(141,198,60,1.00);
}

#secondary.directory  #selections a.active, #secondary.directory #selections a:hover	{
	background: rgba(141,198,60,1.00);
}

#secondary.whattoexpect #selections a.active, #secondary.whattoexpect #selections a:hover	{
	background: rgba(141,198,60,1.00);
}

#secondary.patientmeals a.active, #secondary.patientmeals #selections a:hover	,
#secondary.visitormeals a.active, #secondary.visitormeals #selections a:hover	,
#secondary.eat #selections a.active, #secondary.eat #selections a:hover	{
	background: rgba(245,128,37,1.00);
}

#secondary #background	{
	background-position: 50% 0%; 
	background-repeat: no-repeat;
	width: 0;
	height: 0;
	margin: 205px 0px 0px 587px;
	float: left;
	opacity: 1.00;
	position: absolute;
}

#secondary.aboutus #background	{
	background-image: url(../images/img_learn_aboutus.jpg); 
}

#secondary.careteam #background	{
	background-image: url(../images/img_care_therapy.jpg); 
}

#secondary.directory #background	{
	background-image: url(../images/img_learn_aboutus.jpg); 
}

#secondary.whattoexpect #background	{
	background-image: url(../images/img_learn_whattoexpect.jpg); 
}

#secondary.patientmeals #background ,
#secondary.visitormeals #background ,
#secondary.eat #background {
	background-image: url(../images/img_dine_patientmeals.jpg); 
}

#secondary.relax #background	{
	background-image: url(../images/img_learn_aboutus.jpg); 
}

#secondary.tv #background	{
	background-image: url(../images/img_learn_aboutus.jpg); 
}


#secondary #background.textoverlay {
	opacity: 0.1; 
}

#secondary #selection	{
	width: 870px;
	height: 515px;
	margin: 202px 0px 0px 365px;
	float: left;
	display: inline-block;
	position: absolute;
}

#secondary #selection #heading	{
	width: 625px;
	color: rgba(249,238,132,1.00);
	font-size: 30px;
	line-height: 36px;
	margin: 25px 0px 0px 25px;
	float: left;
	text-align: left;
}

#secondary #selection #body	{
	width: 100%;
	height: 100%;
	color: rgba(255,255,255,1.00);
}

#secondary #selection #body img.image3 {
margin: 50px 0px 0px 445px;
position: absolute;
}

#secondary #selection #body img.image4 {
margin: 20px 0px 0px 445px;
position: absolute;
}

#secondary #selection #body img.image5 {
margin: 50px 0px 0px 600px;
position: absolute;
width: 155px;
height: 155px;
}

#secondary #selection #body img.image6 {
margin: 250px 0px 0px 600px;
position: absolute;
width: 155px;
height: 155px;
}


#secondary #selection #body #nextpage	{
	background-color: #ffffff;
	opacity: 0;
	position: absolute;
	z-index: 10;
	left: 90%;
	width: 10%;
	height: 100%;
	display: inherit;
	cursor: pointer;
	float: right;
}

#secondary #selection #body #prevpage	{
	background-color: #ffffff;
	opacity: 0;
	position: absolute;
	z-index: 10;
	left: 0;
	width: 10%;
	height: 100%;
	display: inherit;
	cursor: pointer;
	float: right;
}

#secondary #selection #body #nextpage:hover, #secondary #selection #body #prevpage:hover {
	cursor: pointer;
	opacity: 0.3;
	color: blue;
}

#secondary #selection #body p	{
	width: 825px;
	min-height: 42px;
	font-size: 28px;
	line-height: 36px;
	float: left;
	text-align: left;
	margin: 25px 25px 0px 25px;
	color: rgba(255,255,255,1.00);
	display: none;
}

#secondary #selection #body p.active	{
	display: inherit;
}

	
#secondary #selection #body p span	{
	color: rgba(255,255,102,1.00);
}

#secondary #selection #body p span.green	{
	color: #ccffcc;
}

#secondary #selection #body p span.mediumgreen	{
	font-size: 27px;
	line-height: 27px;
	color: #ccffcc;
}


#secondary #selection #body p span.smallyellow {
font-size: 22px;
line-height: 22px;
}

#secondary #selection #body p span.small {
font-size: 22px;
line-height: 22px;
color: rgba(255,255,255,1.00);
}


#secondary #selection #body p span.mediumyellow {
font-size: 27px;
line-height: 27px;
}

#secondary #selection #body p span.mediumwhite {
font-size: 27px;
line-height: 27px;
color: rgba(255,255,255,1.00);
}

#secondary #selection #body p span.mediumwhiteright {
font-size: 27px;
line-height: 27px;
color: rgba(255,255,255,1.00);
left: 100px;
}


#secondary #selection #body p span.medium {
font-size: 26px;
line-height: 26px;
color: rgba(255,255,255,1.00);
}


#secondary #selection #body p span.rjust	{
	float: right;
	color: rgba(255,255,255,1.00);
	margin:-100px 0px 0px 0px;
	
}

#secondary #selection #body p span.bottom	{
	color: rgba(255,255,102,1.00);
	margin: 30px 0px 0px 0px;
	
	
}

#secondary #selection #body p span1	{
	width: 75%;
	float: left;
}

#secondary #selection #body p span2	{
	width: 25%;
	float: right;
	text-align: right;
}

#secondary #selection #body p.list	{
	width: 625px;
	font-size: 30px;
	line-height: 40px;
	float: left;
	text-align: left;
	margin: 0px 25px 0px 25px;
	color: rgba(249,238,132,1.00);
}

#secondary #selection #body ul	{
	width: 625px;
	float: left;
	margin: 0px 25px 0px 50px;
}

#secondary #selection #body ul li	{
	margin-left: 25px;
	font-size: 30px;
	line-height: 42px;
	text-align: left;
	color: rgba(255,255,255,1.00);
}

#secondary #selection #body ul li span	{
	color: rgba(249,238,132,1.00);
}

#secondary #selection #body p.clickable	{
	background: rgba(49,139,200,1.00);
	width: 300px;
	min-height: 36px;
	padding: 10px;
	font-size: 30px;
	line-height: 36px;
	text-align: center;
	margin: 0px 0px 15px 25px;
	color: rgba(255,255,255,1.00);
}

#secondary #selection #body p.middle	{
	margin-top: 200px;
}

#secondary #selection #body p.narrow	{
	width: 500px;
	margin-right: 0px;
}

#secondary #selection #body p.wide	{
	width: 800px;
	margin-right: 0px;
}

#secondary #selection #body p.small	{
	font-size: 28px;
	line-height: 32px;
}

#secondary #selection #body p.smaller	{
	font-size: 24px;
	line-height: 28px;
}

#secondary #selection #body p.eleafmail	{
	font-size: 26px;
	line-height: 28px;
	width: 825px;
}

#secondary #selection #body p.larger	{
	font-size: 42px;
	line-height: 48px;
}

#secondary #selection #body p.nomargin	{
	margin-top: 0px;
}

#secondary #selection #body ul.topmargin,
#secondary #selection #body p.topmargin	{
	margin-top: 40px;
}

#secondary #selection #body p.lower	{
	margin-top: 100px;
}

#secondary #selection #body p.botmargin	{
	margin-bottom: 25px;
}

#secondary #selection #body p.leftmargin	{
	margin-left: 50px;
}

#secondary #selection #body p.highlight,
#secondary #selection #body p span.highlight	{
	color: rgba(255,255,102,1.00);
}

#secondary #selection #body p.lightcolor,
#secondary #selection #body p span.lightcolor	{
	color: rgba(194,214,181,1.00);
}

#secondary #selection #body p.nocolor,
#secondary #selection #body p span.nocolor	{
	color: rgba(255,255,255,1.00);
}

#secondary #selection #body p.italic,
#secondary #selection #body p span.italic	{
	font-style: italic;
}

/* Visit/Campus Map */
#secondary.campusmap #selection #body {
    
}

/* secondary.noimages */

#secondary.noimages #background {
	display: none;
}

#secondary.noimages #selection #carousel a img	{
	display: none;
}

/* secondary.lightdark */

#secondary.lightdark {
	background: url(../images/bk2-dk_secondlevel.jpg) top center no-repeat;
}

#secondary.tv.lightdark {
	background: url(../images/bk2-dk_movies.jpg) top center no-repeat;
}

#secondary.lightdark #selections a.active	{
	background: rgba(0,138,175,1.00);
}

/* secondary.darklight */

#secondary.darklight {
	background: url(../images/bk3-lt_secondlevel.jpg) top center no-repeat;
}

#secondary.tv.darklight {
	background: url(../images/bk3-lt_movies.jpg) top center no-repeat;
}

#secondary.darklight #banner p	{
	color: rgba(68,85,95,1.00);
}

#secondary.darklight #banner p span	{
	color: rgba(23,62,89,1.00);
}

#secondary.darklight #label p	{
	color: rgba(68,85,95,1.00);
}

#secondary.darklight #selections a	{
	color: rgba(68,85,95,1.00);
}

#secondary.darklight #selections a.active	{
	background: rgba(254,255,153,1.00);
}

#secondary.darklight #selection #heading,
#secondary.darklight #selection #body,
#secondary.darklight #selection #body p,
#secondary.darklight #selection #body p span,
#secondary.darklight #selection #body ul,
#secondary.darklight #selection #body ul li,
#secondary.darklight #selection #body ul li span	{
	color: rgba(23,62,89,1.00);
}

#secondary.darklight #selection #title	{
	background: rgba(254,255,153,1.00);
	color: rgba(23,62,89,1.00);
}

#secondary.darklight #selection #focus	{
	border: 8px rgba(254,255,153,1.00) solid;
	border-top: 20px rgba(254,255,153,1.00) solid;
}

#secondary.darklight #selection #slider #movie	{
	color: rgba(23,62,89,1.00);
}




/* eleafmail */



#secondary #selection #body #popup {
	background: url(../images/leafmail_bk.png) top left no-repeat;
	top: -50px;
	left: 450px;
	width: 677px;
	height: 367px;
}

#secondary #selection #body #popup p  {
	font-size: 27px;
	line-height: 27px;
	color: rgba(255,255,255,1.00);
	float: left;
	margin: 22px 16px 5px 484px;
	display: block;
}

#secondary #selection #body #content {
    margin-top: 54px;
}

#secondary #selection #body #content #inbox {
    float: left;
    width: 284px;
    height: 272px;
    margin: 0px 0px 0px 35px;
}

#secondary #selection #body #content #inbox a {
    font-size: 26px;
	line-height: 30px;
	display: block;
    width: 100%;
    height: 40px;
    white-space: nowrap;
}

#secondary #selection #body #content #inbox a.active {
	background: url(../images/leafmail_chaser.png) top right no-repeat;
	color: #ff8000;
}

#secondary #selection #body #content #inbox a span.date{
    display: block;
    float: left;
    width: 110px;
    height: 30px;  
    line-height: 30px;
}

#secondary #selection #body #content #inbox a span.subject{
    display: block;
    float: left;
    width: 156px;
    height: 30px;
    line-height: 30px;
}

#secondary #selection #body #content #ebody {	
    float: left;
    width: 287px;  
    height: 250px;  
    margin: 5px 0px 0px 10px;
}

#secondary #selection #body #content #ebody p {
    font-size: 30px;  
    line-height: 40px;
	width: 287px;  
    height: 250px;  
    margin: 0px 0px 0px 6px;	
    color: #FFF;	
	display: block;
}

