#warning {
	overflow: hidden;
	font-size: 28px;
	color: #ffffff;
	font-weight: bold;
	margin: 0;
	padding: 0;				
}

#warning content {
	text-align: center;
	font-size: 26px;
	line-height: 30px;
	margin: 0;
	padding: 2px 0;
}

#warning #buttons {
	font-size: 28px;
	font-weight: bold;
	text-align: left;
	bottom: 80px;
	left: 100px;
	position: absolute;
}

#warning #buttons a {
    background-color: #318bc8;
    width: 200px;
    display: block;
    float: left;
    text-align: center
}

/* painscale page */
#warning.painscale {
	background: url(../images/bk_hires_1242x768_200_KAISER-WESTSIDE_careboard-leaves.jpg) center top no-repeat;
}

#warning.painscale #text1 {
	font-size: 40px;
	font-weight: normal;
	color: #ffffcc;
	text-align: center;
	margin-top: 100px;
}

#warning.painscale #text1 p {
    margin-bottom: 15px;
}

#warning.painscale #image1 {
    background: #e0f4d3 url(../images/painscale.png) center center no-repeat;
    width: 1100px;
    height: 420px;
    margin: 0 auto;
    border-radius: 20px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
}

/* painscale page */
#warning.dinedecline {
	background: url(../images/dine_popup_lg.png) center top no-repeat;
}

#warning.dinedecline #text1 {
	font-size: 40px;
	font-weight: normal;
	color: #ffffcc;
	text-align: center;
	margin-top: 100px;
}

#warning.dinedecline #text1 p {
    margin-bottom: 15px;
}

#warning.dinedecline #text1 p span {
	color: rgba(254,242,0,1.00);
}

#warning.dinedecline #buttons {
	font-size: 28px;
	font-weight: bold;
	text-align:center;
	bottom: 80px; 
	left: 100px;
	position: absolute;
}

#warning.dinedecline #buttons a {
    background-color: #318bc8;
    width: 200px;
    display: block;
    float: left;
    text-align: center;
	margin : 0px 0px 0px 178px;
}
